@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
}
  .hero {
    background-image: url('./assets/images/hero.png');
    background-size: cover;   /* makes it responsive */
         /* full screen */
  }
  
